     
    #button{
        background-color: rgb(217, 6, 6);
        color: white;
        border: none;
        height: 30px;
        width: 100px;
        border-radius: 2px;
       margin-bottom: 10px; 
       cursor: pointer;
       transition: opacity 0.15s;
       margin-top: 10px; margin-left: 10px;  margin-right: 10px;  margin-bottom: 10px;
       padding-top: 0px; padding-bottom: 0px; padding-left: 5px; padding-right: 5px;
       vertical-align: middle;
      }

      #buttonA{
        background-color: white;
        color: rgb(27, 86, 176);
        border-color: rgb(27, 86, 176);
        border-radius: 1px;
        border-width: 1px;
        border-style: solid;
        height: 30px;
        width: 50px;
        cursor: pointer;
        transition: background-color 1s;
        margin-top: 10px; margin-left: 10px;  margin-right: 10px;  margin-bottom: 10px;
        padding-top: 0px; padding-bottom: 0px; padding-left: 5px; padding-right: 5px;
        vertical-align: middle;
    }
    #buttonA:hover{
        background-color: rgb(27, 86, 176);
        color: white;
    }
    #buttonA:active{
        opacity: 0.6;
    }

    #button:hover{
       opacity: 0.8;
    }  

    #button:active{
        opacity: 0.6;
    }
